[submodule "fabric"]
	path = fabric
	url = https://github.com/hyperledger/fabric
	branch = release-1.4
[submodule "fabric-ca"]
	path = fabric-ca
	url = https://github.com/hyperledger/fabric-ca
	branch = release-1.4
[submodule "fabric-sdk-node"]
	path = fabric-sdk-node
	url = https://github.com/hyperledger/fabric-sdk-node
	branch = release-1.4
[submodule "fabric-samples"]
	path = fabric-samples
	url = https://github.com/hyperledger/fabric-samples
	branch = release-1.4
[submodule "fabric-sdk-java"]
	path = fabric-sdk-java
	url = https://github.com/hyperledger/fabric-sdk-java
	branch = release-1.4
