[submodule "fabric"]
	path = fabric
	url = https://gerrit.hyperledger.org/r/fabric
	branch = release-1.4
[submodule "fabric-ca"]
	path = fabric-ca
	url = https://gerrit.hyperledger.org/r/fabric-ca
	branch = release-1.4
[submodule "cello"]
	path = cello
	url = https://gerrit.hyperledger.org/r/cello
[submodule "fabric-sdk-node"]
	path = fabric-sdk-node
	url = https://gerrit.hyperledger.org/r/fabric-sdk-node
	branch = release-1.4
[submodule "fabric-samples"]
	path = fabric-samples
	url = https://gerrit.hyperledger.org/r/fabric-samples
[submodule "fabric-sdk-java"]
	path = fabric-sdk-java
	url = https://gerrit.hyperledger.org/r/fabric-sdk-java
