*#
*.block
*.cov
*.iml
*.log
*.pyc
*.tx
*~
.#*
.*-dummy
.*.sw*
./build/
.DS_Store
.gradle
.idea
.project
.settings
.tags
.vagrant/
.vscode
/bin
/config
TESTS*.xml
bin/
chaincodes/**/build
feature/node_modules/*
go-carpet-coverage*
node-cli/node-cli
package-lock.json
regression/systemtest/results_systest_pte.xml
report.xml
results.xml
sdk/node/lib/protos/*
tags
tools/PTE/Logs/
tools/PTE/node_modules
tools/PTE/runPTE/
tools/operator/configFiles
tools/operator/launcher/ytt
tools/operator/templates/input.yaml
ytt
