{
    "channelID": "_ch{{ item[0].channelnum|int }}",
{% if chaincode == "samplecc" %}
    "chaincodeID": "sample_cc",
{% elif chaincode == "samplejs" %}
    "chaincodeID": "sample_js",
{% endif %}
    "chaincodeVer": "v0",
    "logLevel": "ERROR",
    "transType": "Channel",
    "nProcPerOrg": "4",
    "TLS": "enabled",
    "channelOpt": {
        "name": "{{ item[0].name }}",
        "action":  "join",
        "orgName": [
            "org{{ item[1]|int }}"
        ]
    },
    "SCFile": [
                {"ServiceCredentials":"CITest/CISCFiles/config-chan{{ item[0].channelnum|int }}-TLS.json"}
        ]
}

