[
 {
         "name": "collectionMarbles",
         "policy": {
             "identities": [
{% for org in identities[0].orgs if org in item.orgs %}
               {
                 "role": {
                   "name": "{{ identities[0].role }}",
                   "mspId": "{{ org }}"
                 }
{%  if not loop.last %}
               },
{%  else %}
               }
{%  endif %}
{% endfor %}
             ],
             "policy": {
                 "1-of": [
{% for i in range(identities[0].orgs|length) %}
                    {
                       "signed-by": {{ i }}
{% if not loop.last %}
                    },
{% else %}
                    }
{% endif %}
{% endfor %}
                 ]
             }
         },
         "requiredPeerCount": 1,
         "maxPeerCount": 2,
         "blockToLive": 1000000
 },
 {
         "name": "collectionMarblePrivateDetails",
         "policy": {
             "identities": [
{% for org in identities[0].orgs if org in item.orgs %}
               {
                 "role": {
                   "name": "{{ identities[0].role }}",
                   "mspId": "{{ org }}"
                 }
{%  if not loop.last %}
               },
{%  else %}
               }
{%  endif %}
{% endfor %}
             ],
             "policy": {
                 "1-of": [
{% for i in range(identities[0].orgs|length) %}
                    {
                       "signed-by": {{ i }}
{% if not loop.last %}
                    },
{% else %}
                    }
{% endif %}
{% endfor %}
                 ]
             }
         },
         "requiredPeerCount": 1,
         "maxPeerCount": 2,
         "blockToLive": 1000000
 }
]
