{
    "transType": "Channel",
    "TLS": "{{ TLS }}",
    "channelOpt": {
        "name": "{{ item.name }}",
        "channelTX": "/var/hyperledger/fabric/artifacts/keyfiles/{{ item.name }}.tx",
        "action":  "create",
        "orgName": [
            "org{{ (item.channelnum|int * item.orgs|length) - (item.orgs|length - 1) }}"
        ]
    },
    "timeoutOpt": {
        "preConfig": "{{ preconfig }}",
        "request": "{{ request }}",
        "grpcTimeout": "{{ grpcTimeout }}"
    },
    "SCFile": [
               {"ServiceCredentials":"CITest/CISCFiles/config-chan{{ item.channelnum|int }}-TLS.json"}
       ]
}
