{
    "channelID": "_ch{{ item.channelnum|int }}",
{% if chaincode == "samplecc" %}
    "chaincodeID": "sample_cc",
{% elif chaincode == "samplejs" %}
    "chaincodeID": "sample_js",
{% elif chaincode == "marbles02_private" %}
    "chaincodeID": "marbles_cc_priv",
{% elif chaincode == "marbles02" %}
    "chaincodeID": "marbles_cc",
{% endif %}
    "chaincodeVer": "v0",
    "logLevel": "ERROR",
    "transType": "install",
    "TLS": "{{ TLS }}",
    "channelOpt": {
        "name":  "{{ item.name }}",
        "action":  "create",
        "orgName": [
{% set index = ((item.channelnum|int * item.orgs|length) - (item.orgs|length - 1)) -%}
{% for orgName in item.orgs %}
{% if not loop.last %}
            "org{{ index + loop.index0 }}",
{% else %}
            "org{{ index + loop.index0 }}"
{% endif %}
{% endfor %}
        ]
    },
    "timeoutOpt": {
        "preConfig": "{{ preconfig }}",
        "request": "{{ request }}",
        "grpcTimeout": "{{ grpcTimeout }}"
    },
    "deploy": {
{% if chaincode == "samplecc" %}
        "chaincodePath": "github.com/hyperledger/fabric-test/chaincodes/samplecc/go",
{% elif chaincode == "samplejs" %}
        "chaincodePath": "/root/go/src/github.com/hyperledger/fabric-test/chaincodes/samplecc/node",
        "language": "node",
{% elif chaincode == "marbles02_private" %}
        "chaincodePath": "github.com/hyperledger/fabric-test/fabric-samples/chaincode/marbles02_private/go",
        "metadataPath": "/root/go/src/github.com/hyperledger/fabric-test/fabric-samples/chaincode/marbles02_private/go/META-INF",
{% elif chaincode == "marbles02" %}
        "chaincodePath": "github.com/hyperledger/fabric-test/fabric-samples/chaincode/marbles02/go",
        "metadataPath": "/root/go/src/github.com/hyperledger/fabric-test/fabric-samples/chaincode/marbles02/go/META-INF",
{% endif %}
        "fcn": "init",
        "args": []
    },
    "SCFile": [
                {"ServiceCredentials":"CITest/CISCFiles/config-chan{{ item.channelnum|int }}-TLS.json"}
        ]
}
