{
    "transType": "Channel",
    "TLS": "{{ TLS }}",
    "channelOpt": {
        "name": "{{ item.name }}",
        "action":  "join",
        "orgName": [
{% set index = ((item.channelnum|int * item.orgs|length) - (item.orgs|length - 1)) -%}
{% for orgName in item.orgs %}
{% if not loop.last %}
            "org{{ index + loop.index0 }}",
{% else %}
            "org{{ index + loop.index0 }}"
{% endif %}
{% endfor %}
        ]
    },
    "timeoutOpt": {
        "preConfig": "{{ preconfig }}",
        "request": "{{ request }}",
        "grpcTimeout": "{{ grpcTimeout }}"
    },
    "SCFile": [
                {"ServiceCredentials":"CITest/CISCFiles/config-chan{{ item.channelnum|int }}-TLS.json"}
        ]
}

