{
    "channelID": "_ch{{ item.channelnum|int }}",
{% if chaincode == "samplecc" %}
    "chaincodeID": "sample_cc",
{% elif chaincode == "samplejs" %}
    "chaincodeID": "sample_js",
{% endif %}
    "chaincodeVer": "v0",
    "logLevel": "ERROR",
    "invokeCheck": "TRUE",
    "transMode": "{{ transMode }}",
    "transType": "Invoke",
    "invokeType": "Query",
    "targetPeers": "{{ targetPeers }}",
    "nProcPerOrg": "{{ nProcPerOrg }}",
    "nRequest": "100",
    "runDur": "0",
    "peerFailover": "{{ peerFailover }}",
    "ordererFailover": "{{ ordererFailover }}",
    "TLS": "enabled",
    "channelOpt": {
        "name": "{{ item.name }}",
        "action":  "create",
        "orgName": [
{% set index = ((item.channelnum|int * item.orgs|length) - (item.orgs|length - 1)) -%}
{% for orgName in item.orgs %}
{% if not loop.last %}
            "org{{ index + loop.index0 }}",
{% else %}
            "org{{ index + loop.index0 }}"
{% endif %}
{% endfor %}
        ]
    },
{% if transMode == "Burst" %}
    "burstOpt": {
        "burstFreq0":  "{{ burstFreq0 }}",
        "burstDur0":  "{{ burstDur0 }}",
        "burstFreq1": "{{ burstFreq1 }}",
        "burstDur1": "{{ burstDur1 }}"
    },
{% elif transMode == "Mix" %}
    "mixOpt": {
        "mixQuery": "{{ mixQuery }}",
        "mixFreq": "{{ mixFreq }}"
    },
{% elif transMode == "Constant" %}
    "constantOpt": {
        "recHist": "{{ recHist }}",
        "constFreq": "{{ constFreq }}",
        "devFreq": "{{ devFreq }}"
    },
{% endif %}
{% if targetPeers == "LIST" %}
    "listOpt": {
        "org1": ["peer1"],
        "org2": ["peer1"]
    },
{% endif %}
    "eventOpt": {
        "type": "{{ eventType }}",
        "listener": "{{ eventListener }}",
        "timeout": "{{ eventTimeout }}"
    },
    "failoverOpt": {
        "method": "{{ method }}",
        "list": "{{ list }}"
    },
    "timeoutOpt": {
        "preConfig": "{{ preconfig }}",
        "request": "{{ request }}"
    },
    "ccType": "ccchecker",
    "ccOpt": {
        "keyIdx": [1],
        "keyPayLoad": [2],
        "keyStart": "0",
        "payLoadType": "{{ payLoadType }}",
        "payLoadMin": "{{ payLoadMin }}",
        "payLoadMax": "{{ payLoadMax }}"
    },
    "invoke": {
        "query": {
            "fcn": "invoke",
            "args": ["get", "a1"]
        },
        "move": {
            "fcn": "invoke",
            "args": ["put", "a1","1"]
        }
    },
    "SCFile": [
               {"ServiceCredentials":"CITest/CISCFiles/config-chan{{ item.channelnum|int }}-TLS.json"}
        ]
}
