# Copyright the Hyperledger Fabric contributors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0


name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.rrr)
trigger: none
pr: none

schedules:
# 3 AM UTC/10 PM EST
  - cron: "0 3 * * *"
    displayName: 'PTE Daily Job'
    branches:
      include:
        - release-1.4
    always: true

variables:
  GOPATH: $(Agent.BuildDirectory)/go
  PATH: $(Agent.BuildDirectory)/go/bin:$(Agent.BuildDirectory)/go/src/github.com/hyperledger/fabric-test/fabric/.build/bin:/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin
  GO_VER: 1.12.12
  NODE_VER: 10.x
  PYTHON_VER: 2.7

jobs:
- job: PTEDailyBuild
  pool:
    vmImage: ubuntu-18.04
  timeoutInMinutes: 360
  steps:
  - template: templates/install_deps.yml
  - checkout: self
    path: 'go/src/github.com/hyperledger/fabric-test'
    displayName: Checkout Fabric Test Code
  - script: make svt-daily-pte-tests
    displayName: Run PTE Daily Tests
  - script: |
      mkdir -p logs
      ls logs
      cp tools/PTE/CITest/Logs/*.* logs
    displayName: Copy Logs
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: 'logs'
      artifactName: 'Logs'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'regression/daily/results*.xml'
