name: Daily Tests

on:
    workflow_dispatch:
    schedule:
        # Midnight UTC
        - cron: "0 0 * * *"
  
jobs:
    test_schedule:
        runs-on: ubuntu-20.04
        strategy:
            fail-fast: false
            matrix:
              branch:
                - "main"
                - "release-2.5"
                - "release-2.4"
                - "release-2.2"         
        steps:
          - uses: actions/checkout@v4
            with:
              ref: ${{ matrix.branch }}
          - name: HSM
            run: make regression/hsm


